<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1"
             xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="primary">
        <class>com.flexicore.ui.model.UiField</class>
        <class>com.flexicore.ui.model.PresetToEntity</class>
        <class>com.flexicore.ui.model.PresetToTenant</class>
        <class>com.flexicore.ui.model.PresetToRole</class>
        <class>com.flexicore.ui.model.PresetToUser</class>
        <class>com.flexicore.model.Baseclass</class>
        <class>com.flexicore.model.Baselink</class>
        <class>com.flexicore.ui.model.Dashboard</class>
        <class>com.flexicore.ui.model.CardGroup</class>
        <class>com.flexicore.ui.model.Card</class>
        <class>com.flexicore.ui.model.Preset</class>
        <class>com.flexicore.ui.model.GridPreset</class>
        <class>com.flexicore.ui.model.ConfigurationPreset</class>
        <class>com.flexicore.ui.model.TableColumn</class>
        <class>com.flexicore.ui.model.Form</class>
        <class>com.flexicore.ui.model.FormField</class>
        <class>com.flexicore.ui.model.FilterProperties</class>
        <class>com.flexicore.ui.model.MapPreset</class>


        <exclude-unlisted-classes>true</exclude-unlisted-classes>
    </persistence-unit>


</persistence>
